<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Profile</title>
</head>
<body>

    <h1>Check Out Books</h1>

    <h2>Current Books Available: </h2>
    <%- booksAvailable %>
    

    
        <form action="http://localhost:<%- portNumber %>/selectProfile" method="post">
            <input type="text" name="username">

            <input type="submit"> 
        </form>
   
</body>
</html>