<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Book(s)</title>
</head>
<body>

    <h1>Remove All Copies of Book Title/Author</h1>
    
    <form action="http://localhost:<%- portNumber %>/removeBook" method="post">
        Book Title: <input type="text" id="bookTitle" name="bookTitle">
        Book Author: <input type="text" id="bookAuthor" name="bookAuthor">

        <input type="submit" id="submitButton" value="Remove Book"> 

    </form>

    <div id="resultBox">
        <%- status %>
    </div>
</body>
</html>