<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
</head>
<body>
    <h1>Add Book</h1>
    <form action="http://localhost:<%- portNumber %>/addBook" method="post">
    Book Title: <input type="text" id="bookTitle" name="bookTitle">
    Book Author: <input type="text" id="bookAuthor" name="bookAuthor">
  Quantity: <input type="number" min="1" id="quantity" name="quantity"> 

    <input type="submit" id="submitButton" value="Add Book"> 

</form>

<%- result %>

<a href="http://localhost:<%- portNumber %>/">Return Home</a>

</body>
</html>