<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Profile</title>
</head>
<body>

    <h1>Check Out Books</h1>

    <h2>Current Books Available: </h2>
    <%- booksAvailable %>
    
        <form action="/checkOutConfirmation" method="post">
           
            <h2>Books Available for Check-out</h2>
            <select name="itemsSelected" multiple>
				<%- items %>
			</select>

            <input type="submit"> 
        </form>

        <a href="/">Return Home</a>


    
   
</body>


</html>