<!DOCTYPE html>
<html lang="en">
<head>

  <style>body{
    border: 0.5rem solid green;
    color:red;
}
legend{
    color:red;
}
h1{
    color:red
}</style>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>


</head>
<body>

    <%- portNumber %>
    <h1>Welcome to the library!</h1>

   

    <form action="/" method="post" id="identityType"> 
        <fieldset>
            <legend>Are you a? </legend>
          
            <div>
              <input type="radio" id="librarian" name="userSelection" value="librarian" checked />
              <label for="librarian">Librarian</label>
            </div>
          
            <div>
              <input type="radio" id="user" name="userSelection" value="user" />
              <label for="user">Library User (Library Patron) </label>
            </div>
          
            
          </fieldset>

    <input type="submit" id="submit" value="Submit"> 
</form>
</body>

<footer>
  <p>Created by: Arthur Liao, Belen Desta, Justin Zhang</p>
  
</footer>

</html>