<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>body{
      border: 0.5rem solid rgb(14, 171, 210);
      color:rgb(31, 92, 7);
  }
  legend{
      color:rgb(69, 34, 227);
  }
  h1{
      color:rgb(228, 25, 49)
  }</style>

    <title>Librarian Actions</title>
</head>
<body>
    <h1>Welcome to the library!</h1>

    <a href="/">Return Home</a>

    <form action="/librarianActions" method="post" id="identityType"> 
        <fieldset>
            <legend>What would you like to do? </legend>
          
            <div>
              <input type="radio" id="addBookToCatalog" name="userSelection" value="addBookToCatalog" checked />
              <label for="addBookToCatalog">Add Books</label>
            </div>

            <div>
              <input type="radio" id="removeFromCatalog" name="userSelection" value="removeFromCatalog"  />
              <label for="removeFromCatalog">Remove 1 or more Books</label>
            </div>
          
            <div>
              <input type="radio" id="viewCatalog" name="userSelection" value="viewCatalog" />
              <label for="viewCatalog">View Catalog</label>
            </div>
            
          </fieldset>

    <input type="submit" id="submit" value="Submit"> 
</form>


    

</body>



</html>