<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Book(s)</title>
</head>
<body>

    <h1>Remove All Copies of Book Title/Author</h1>
    
    <a href="http://localhost:<%- portNumber %>/">Return Home</a>

    
    <h2>Remove Single Book</h2>
    <form action="/removeBook" method="post">
        Book Title: <input type="text" id="bookTitle" name="bookTitle">
        Book Author: <input type="text" id="bookAuthor" name="bookAuthor">

        <input type="submit" id="submitButton" value="Remove Book"> 

    </form>

    <h2>Remove All Books</h2>
    <form action="/removeAllBooks" method="post">
        <input type="submit" id="submitButton" value="Remove All Books In Library"> 
    </form>

    <h1>Status: </h1>

    <div id="resultBox">
        <%- status %>
    </div>
</body>



</html>