<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search for a Book</title>
</head>
<body>

    <h1>Search for a Book (Within Our Library)</h1>
    <form action="http://localhost:<%- portNumber %>/searchBook" method="post">
        Search for Title: <input type="text" name="bookTitle" id="title">
        Search for Author: <input type="text" name="bookAuthor" id="author">

        <input type="submit" value="Search Book">
    </form>
    
    <%- result %> 

    <a href="http://localhost:<%- portNumber %>/">Return Home</a>

    
</body>


</html>