<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1">

    <title>Library Catalog</title>
</head>
<body>
    <h1>Books Available</h1>

    <%- catalogTable %>
    
    <a href="/">Return Home</a>

    
</body>


</html>